* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $cor-fundo;
  color: $cor-texto;
  font-family: $fonte;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

body.claro {
    background-color: #f8fafc;
    color: #0f172a;
}

body.claro .container {
    background-color: #e2e8f0;
}

body.claro #btn-gerar {
    background-color: #0ea5e9;
    color: white;
}

body.claro #btn-gerar:hover {
    background-color: #0284c7;
}

body.claro #toggle-tema {
    background-color: #0f172a;
    color: #f8fafc;
}
