// Cores
$cor-fundo: #0f172a;
$cor-container: #1e293b;
$cor-texto: #f1f5f9;
$cor-titulo: #38bdf8;
$cor-botao: #38bdf8;
$cor-botao-hover: #0ea5e9;

// Tipografia
$fonte: 'sans-serif';

// Espaçamentos
$padding: 2rem;
$radius: 1rem;
